<html>
<head>
<%= stylesheet_link_tag('index', :media=>'all')%>
</head>

<body>
<div class="mainhead">
<br><br>
<h1> Student Home page</h1><br><br>
</div>
<br>
<table id="indextable">
	<tr>
		<th>Name</th>
		<th>Weight</th>
		<th>Height</th>
		<th>Color</th>
		<th>Gpa</th>
		<th width="25%">Actions</th>
	</tr>

	<% @student.each do |student| %>
		<tr>
			<td><%=student.name%></td>
			<td><%=student.weight%></td>
			<td><%=student.height%></td>
			<td><%=student.color%></td>
			<td><%=student.gpa%></td>
			<td><%= link_to "Show more", student , class: "linkbtn"%> 
				<%= link_to "Update", edit_student_path(student),class: "linkbtn"%>
				<%= link_to "Delete" , student_path(student),method: :delete, data: {confirm:"Confirm delete?"},class: "linkbtn" %>
			</td>
		</tr>

	<%end%>
</table>
<br>

<hr><br>
<%=link_to  "New Student", new_student_path, class: "linkbtn1" %>
<%=link_to  "Show graph", {:action=>'graph'}, class: "linkbtn1" %>


<br>

</body>

</html>